@use "../core/mixin" as *;
@use "../core/font" as *;
.page-home,
.page-about {
  .bnh-item .btn {
    background: var(--color-pri);
  }
}
.bnh {
  position: relative;
  &-item {
    min-height: calc(100vh - var(--size-hd));
    position: relative;
    padding: 4% 0;
    @include max(600px) {
      min-height: 72rem;
      padding-top: 4rem;
    }
    &::after {
      content: "";
      position: absolute;
      @include full;
      background: linear-gradient(
        180deg,
        #325d9e 0%,
        rgba(50, 93, 158, 0) 42.68%
      );
      z-index: 1;
    }
    .b-play {
      width: 8rem;
      height: 8rem;
      @include mid;
      position: absolute;
      z-index: 2;
      display: block;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      @include hover {
        transform: translate(-50%, -50%) scale(0.9);
      }
      @include max(500px) {
        position: static;
        margin: 0 auto;
        transform: translateY(50%);
        width: 4.6rem;
        height: 4.6rem;
      }
    }
    &.has-video {
      .b-dcor {
        display: none;
      }
    }
    .b-img {
      position: absolute;
      @include full;
      z-index: -1;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }
      video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .b-content {
      color: var(--color-white);
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      position: relative;
      z-index: 2;
    }
    .b-head {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      .t-text {
        @include fz-72;
        @include font-second;
        font-weight: 700;
        line-height: 1.2;
        @include max(414px) {
          font-size: 9vw;
        }
        br {
          @include max(500px) {
            display: none;
          }
        }
      }
      .txt {
        @include fz-40;
      }
    }
    .b-des {
      font-size: 1.8rem;
      // max-width: 35rem;
      @include max(500px) {
        br {
          display: none;
        }
      }
    }
  }
}
.bn-text {
  .b-content {
    color: var(--color-text);
  }
  .bnh-item {
    &::after {
      display: none;
    }
  }
}
.is-pc {
  @include max(600px) {
    display: none;
  }
}
.is-mb {
  @include min(601px) {
    display: none;
  }
}
.h-full {
  height: 100%;
}

.bn-eng {
  .b-dcor {
    position: absolute;
    z-index: 5;
    bottom: 15%;
    left: 59%;
    transform: translate(-50%, 0%);
    width: 25%;
    @include max(1200px) {
      width: 35%;
    }
    @include max(500px) {
      width: 70%;
      position: relative;
      left: -6%;
      transform: unset;
      margin: 0 auto;
      margin-top: 6rem;
    }
    img {
      display: block;
      width: 100%;
    }
    .inner-dc {
      position: absolute;
      left: 61%;
      transform: translate(-50%, -50%);
      top: 16%;
      width: 110%;
      z-index: -1;
      @include max(500px) {
        top: 8%;
      }
    }
  }
  .bnh-item .b-img img {
    @include max(500px) {
      object-fit: contain;
    }
  }
  .bnh-item::after {
    display: none;
  }
  .bnh-item .b-content {
    color: var(--color-text);
  }
  .b-content {
    gap: 0;
  }
  .bnh-item {
    @include max(500px) {
      display: flex;
      flex-direction: column;
      .b-dcor {
        bottom: unset;
        margin-top: auto;
        z-index: 1;
      }
    }
  }
}
.page-teen {
  .bnh.bn-eng {
    .b-dcor {
      @include max(500px) {
        left: unset;
      }
      .inner-dc {
        left: 45%;
        top: 32%;
        @include max(500px) {
          top: 20%;
        }
      }
    }
    .b-dcor {
      // @include max(500px) {
      //   &::after {
      //     content: "";
      //     position: absolute;
      //     left: 50%;
      //     bottom: 0;
      //     height: 50%;
      //     width: 100vw;
      //     transform: translateX(-50%);
      //     background: linear-gradient(
      //       180deg,
      //       rgba(243, 209, 236, 0) 0%,
      //       #f3d1ec 100%
      //     );
      //   }
      // }
    }
    .bnh-item .b-img {
      @include max(500px) {
        top: unset;
        height: 50%;
        z-index: 1;
      }
      img {
        @include max(500px) {
          object-fit: cover;
        }
      }
    }
  }
}
.page-epx {
  .bnh-item .b-des {
    max-width: 40rem;
  }
  .bnh-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
  .bn-eng .bnh-item .b-content {
    color: var(--color-white);
  }
  .bnh {
    .b-dcor {
      bottom: 0;
      margin-top: auto;
      @include max(500px) {
        left: unset;
        // &::after {
        //   content: "";
        //   position: absolute;
        //   bottom: 0;
        //   left: 50%;
        //   width: 100vw;
        //   height: 25%;
        //   transform: translateX(-50%);
        //   background: linear-gradient(
        //     180deg,
        //     rgba(243, 209, 236, 0) 0%,
        //     #ffff 100%
        //   );
        // }
      }
    }
    &.bn-eng .bnh-item .b-img img {
      object-fit: cover;
      object-position: 65%;
    }
  }
}
.bnh.bn-pre {
  .bnh-item .b-head .t-text {
    @include max(500px) {
      font-size: 8vw;
    }
  }
}
.bn-sys {
  .bnh-item {
    &::after {
      background: linear-gradient(
        180deg,
        #325d9e 50%,
        rgba(50, 93, 158, 0) 82.35%
      );
      bottom: 40%;
    }

    .b-des {
      max-width: 100%;
    }
  }
}
.bn-ab {
  .bnh-item {
    .b-content {
      @include max(500px) {
        text-align: center;
      }
    }
    .b-head {
      .t20 {
        @include max(500px) {
          font-size: 1.3rem;
        }
      }
      .t-text {
        @include max(500px) {
          font-size: 9vw;
        }
      }
    }
  }
}
.bn-news {
  padding-top: 10rem;
  position: relative;
  @include max(1200px) {
    padding-top: 6rem;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(
      180deg,
      #325d9e 0%,
      rgba(50, 93, 158, 0) 33.58%
    );
  }
}
.bn-news-head {
  color: var(--color-white);
  .txt {
    font-size: 2rem;
  }
  .title {
    @include fz-72;
    font-weight: 700;
    line-height: 1.2;
    @include font-second;
  }
}
