@use "../core/mixin" as *;
@use "../core/font" as *;
.t-title {
  @include fz-50;
  font-weight: 700;
  color: var(--color-text);
  text-wrap: pretty;
  position: relative;
  line-height: 1.2;
  @include font-second;
  @include max(768px) {
    font-size: 4.2rem;
  }
  @include max(500px) {
    font-size: 3.2rem;
  }
}
.titleAni {
  .word {
    transform: translateX(25%);
    opacity: 0;
    display: inline-block;
  }
}
.head {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  @include max(500px) {
    gap: 0.8rem;
  }
  &.center {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  &.white {
    .t-title {
      color: var(--color-white);
    }
    .txt {
      color: var(--color-white);
    }
    .b-tag {
      --bg: rgba(255, 255, 255, 0.15);
      --cl: #fff;
      border: 0.1rem solid rgba(255, 255, 255, 0.5);
    }
  }
  .txt {
    @include fz-24;
    color: var(--color-text);
    @include max(500px) {
      font-size: 1.6rem;
    }
  }
}
.t-center {
  text-align: center;
}
.c-tt {
  color: var(--color-tt);
}
.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-b {
  font-weight: bold;
}

.fsi {
  font-style: italic;
}

.t-up {
  text-transform: uppercase;
}
.t20 {
  @include fz-20;
}
