@use "../core/mixin" as *;
@use "../core/font" as *;
.page-maugiao {
  background: #fffbd0;
  ~ .ft {
    background: #fffbd0;
  }
  .bnh-item {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
  }
  .bnh.bn-eng {
    .b-dcor {
      bottom: 0;
      @include max(500px) {
        left: unset;
        margin-top: auto;
      }
    }
    .b-dcor .inner-dc {
      left: 47%;
      top: 5%;
    }
  }
}
.page-pre {
  --bg-table: #eef6fe;
  --bg-table-mb: #eef6fe;
  --bg-table-gr: #b9d8f9;

  --bg-form: #bbdafb;
}
.page-class {
  --bg-table: #fde680;
  --bg-table-mb: #fff;
  --bg-table-gr: #fde680;

  --bg-form: #fde680;
  background: #fffbd0;
  --bg-rsult-it: #fde680;
  --bg-int-it: #fccd00;
  ~ .ft {
    background: #fffbd0;
  }
}
.page-ket {
  background: #f3d1ec;
  --bg-table-mb: #fff;
  --bg-table-gr: #e6dffe;
  --bg-rsult-it: #edd9ff;
  --bg-int-it: #edd9ff;
  --bg-table: #edd9ff;
  --bg-form: #edd9ff;
  .sec-rsult {
    &::after {
      display: none;
    }
  }
  ~ .ft {
    background: #f3d1ec;
  }
}
.page-eng {
  background: #fffbd0;
  ~ .ft {
    background: #fffbd0;
  }
}
.page-teen {
  background: #f3d1ec;
  ~ .ft {
    background: #f3d1ec;
  }
  .eni-item:nth-child(1) {
    --bg: #e8cfff;
  }
  .eni-item:nth-child(2) {
    --bg: #d8baf3;
  }
  .eni-item:nth-child(3) {
    --bg: #edd9ff;
  }
  .eni-item:nth-child(4) {
    --bg: #efe6f7;
  }
}
.page-epx {
  background: #ffffff;
  ~ .ft {
    background: #ffffff;
  }
  .eni-item:nth-child(1) {
    --bg: #f5f5f5;
  }
  .eni-item:nth-child(2) {
    --bg: #ffffff;
  }
  .eni-item:nth-child(3) {
    --bg: #bbdafb;
  }
  .eni-item:nth-child(4) {
    --bg: #eef6fe;
  }
}
.eni-item {
  --rs: 1.2rem;
  position: relative;
  border-radius: var(--rs) var(--rs) 0 0;
  overflow: hidden;
  background: var(--bg);
  cursor: pointer;
  z-index: 1;
  box-shadow: 0px -0.8rem 2rem rgba(0, 0, 0, 0.1);
  &:not(:first-child) {
    margin-top: calc(var(--rs) * -1);
  }
  &:last-child {
    border-radius: var(--rs);
  }

  &:nth-child(1) {
    --bg: #f2eb94;
  }
  &:nth-child(2) {
    --bg: #fccd00;
  }
  &:nth-child(3) {
    --bg: #fdd733;
  }
  &:nth-child(4) {
    --bg: #fde680;
  }
  .b-inner {
    display: flex;
    transition: 0.5s ease-in-out;
    @include max(1200px) {
      min-height: 10rem;
    }
    @include max(768px) {
      min-height: 8rem;
      padding: 0;
      flex-direction: column-reverse;
    }
  }
  .box-left {
    max-width: 60%;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    padding-right: 0;
    justify-content: center;
    @include max(768px) {
      max-width: 40rem;
      padding: 2.4rem 1.2rem;
      text-align: center;
      margin: 0 auto;
    }
    .t-text {
      @include font-second;
      @include fz-48;
      font-weight: 700;
      line-height: 1.2;
      @include max(768px) {
        font-size: 3.2rem;
      }
      @include max(420px) {
        font-size: 7vw;
      }
    }
    .t-des {
      @include fz-20;
    }
  }
  .box-img {
    width: 40%;
    margin-left: auto;
    position: relative;
    display: none;
    img {
      display: block;
      width: 100%;
    }
    @include max(768px) {
      width: 100%;
    }
    .b-bg {
      display: flex;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        @include full;
        background: linear-gradient(
            270deg,
            rgba(242, 235, 148, 0) 67.68%,
            var(--bg) 100%
          ),
          linear-gradient(180deg, rgba(242, 235, 148, 0) 76.32%, var(--bg) 100%);
      }
      @include max(768px) {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        &::before {
          display: none;
        }
      }
    }
    .b-model {
      position: absolute;
      width: 60%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      @include max(768px) {
        position: relative;
        width: 100%;
        left: unset;
        bottom: unset;
        transform: unset;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          height: 50%;
          bottom: 0;
          background: linear-gradient(
            180deg,
            rgba(242, 235, 148, 0) 76.32%,
            var(--bg) 100%
          );
          z-index: 1;
          width: 100%;
        }
      }
      .b-dc {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 115%;
        top: 50%;
        z-index: -1;
        @include max(768px) {
          width: 90%;
          top: 30%;
        }
        img {
          display: block;
          width: 100%;
        }
      }
    }
    .b-icon {
      @include mid-flex;
      height: 24rem;
      @include max(768px) {
        height: auto;
        padding-top: 4rem;
      }
      .inner-icon {
        width: 10rem;
        @include mid-flex;
        @include max(768px) {
          width: 5.6rem;
        }
      }
    }
  }

  .box-des {
    display: none;
    margin-top: 1.2rem;
  }
}

.eni-head {
  @include max(768px) {
    .head {
      max-width: 30rem;
      margin: 0 auto;
    }
  }
}
.sec-know {
  overflow: hidden;
}
.know-slider {
  .swiper,
  .swiper-container {
    overflow: visible;
  }
  .swiper-slide {
    @include max(1024px) {
      width: calc(100% / 2.2);
    }
    @include max(768px) {
      width: calc(100% / 1.5);
    }
    @include max(500px) {
      width: 75%;
    }
  }
}
.know-txt {
  @include fz-32;
  text-align: center;
  margin-bottom: 2.4rem;
}
.know-block {
  &:not(:last-child) {
    padding-bottom: 6rem;
  }
}
.know-it {
  position: relative;
  aspect-ratio: 389/558;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 1.6rem;
  overflow: hidden;
  .b-img {
    position: absolute;
    @include full;
    z-index: -1;
    &::after {
      content: "";
      position: absolute;
      height: 65%;
      bottom: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 25.09%,
        #000000 100%
      );
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .b-ctn {
    padding: 2.4rem;
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--color-white);
    height: 40%;
    padding-top: 0;
    justify-content: flex-end;
    @include max(500px) {
      padding: 1.2rem;
      padding-top: 0;
      gap: 0.8rem;
      height: 42%;
    }
    .t-text {
      @include fz-32;
      @include font-second;
      font-weight: 700;
      line-height: 1.2;
      @include max(500px) {
        font-size: 2.6rem;
      }
      @include max(400px) {
        font-size: 7vw;
      }
      &::after {
        content: "";
        display: block;
        width: 4rem;
        height: 0.1rem;
        background: #fff;
        margin: 0 auto;
        margin-top: 1.2rem;
        @include max(500px) {
          margin-top: 0.8rem;
        }
      }
    }
    .t-des {
      font-size: 1.6rem;
      @include lc(3);
      @include max(500px) {
        font-size: 1.2rem;
      }
    }
  }
}
.page-epx .sec-faq {
  padding-bottom: var(--pd-sc);
}
.faq-list {
  display: flex;
  flex-direction: column;
}
.faq-it {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  font-size: 2rem;
  padding: 2.4rem 0;
  cursor: pointer;
  &:not(:last-child) {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  @include max(768px) {
    font-size: 1.6rem;
    padding: 1.2rem 0;
  }
  &.active {
    .b-head {
      color: var(--color-pri);
      .icon {
        transform: rotate(180deg);
      }
    }
  }
  .b-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
    transition: 0.3s ease-in-out;
    .t-text {
      font-weight: 700;
    }
    .icon {
      @include mid-flex;
      width: 2.4rem;
      height: 2.4rem;
      transition: 0.3s ease-in-out;
    }
  }
  .b-des {
    display: none;
  }
}
.se-box {
  padding: 6rem 0;
  .stu-tags {
    flex-wrap: unset;
    white-space: nowrap;
    .b-tag {
      --py: 1.2rem;
    }
  }
}
.afc-it.iwt {
  background: #eef6fe;
  padding: 1.6rem;
  --cl: #1a2c50;
  height: 100%;
}
.afc-list {
  > .col {
    @include max(600px) {
      width: 100%;
    }
  }
}
.vle-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  @include max(768px) {
    gap: 0.8rem;
  }
}
.vle-it {
  padding: 1.6rem;
  background: #eef6fe;
  overflow: hidden;
  border-radius: 0.8rem;
  &.active {
    .b-head {
      .icon {
        transform: rotate(180deg);
      }
    }
    .b-btn {
      display: block;
    }
  }
  .cl-items {
    &.active {
      .t-head {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
  }
  .icon {
    @include mid-flex;
    width: 3.2rem;
    height: 3.2rem;
    transition: 0.3s ease-in-out;
  }
  .b-head,
  .t-head {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    cursor: pointer;
  }

  .b-item {
    padding: 1.6rem;
    background: #b9d8f9;
    border-radius: 0.4rem;
  }
  .b-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .b-body,
  .cl-bodies {
    display: none;
  }
  .b-btn {
    margin-top: 2.4rem;
    display: none;
  }
}
.taf-table {
  max-height: 41rem;
  overflow-y: auto;
}
.taf-mb-body {
  max-height: 41rem;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.table-custom {
  --bg-thead: var(--bg-table);
  --cl-thead: #15191e;
  --cl-sp: #394150;
  --rs: 1.2rem;
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.08);
  border-radius: var(--rs);
  @include max(930px) {
    box-shadow: unset;
  }
  thead {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--bg-thead);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
    @include max(930px) {
      display: none;
    }
    tr {
      th {
        padding: 1.2rem;
        font-size: 1.6rem;
        font-weight: 700;
        color: var(--cl-thead);
        text-align: center;
        &:nth-child(4) {
          width: 30%;
        }

        &:not(:last-child) {
          border-right: 0.1rem solid rgba(0, 0, 0, 0.08);
          @include max(930px) {
            border-right: unset;
          }
        }

        &:first-child {
          border-radius: var(--rs) 0 0 0;
        }
        &:last-child {
          border-radius: 0 var(--rs) 0 0;
        }
      }
    }
  }
  tbody {
    background: var(--bg-table);
    tr {
      &:not(:last-child) {
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.08);
        @include max(930px) {
          border-color: var(--color-white);
          border-width: 2.4rem;
        }
      }
      td {
        vertical-align: middle;
        padding: 2rem 0.6rem;
        text-align: center;
        &:not(:last-child) {
          border-right: 0.1rem solid rgba(0, 0, 0, 0.08);
          @include max(930px) {
            border-right: unset;
          }
        }
        &:first-child,
        &:last-child {
          padding: 2rem 1.2rem;
        }
        @include max(930px) {
          padding: 1.2rem;
          @include flex;
          justify-content: space-between;
          gap: 1.2rem;
          width: 100%;
          position: relative;
          border-bottom: unset;
          &::before {
            content: attr(data-text);
            width: fit-content;
            font-weight: 700;
            font-size: 1.6rem;
            text-align: left;
            white-space: nowrap;
          }
          &:nth-child(even) {
            background: rgba(0, 0, 0, 0.04);
          }
          &:first-child {
            .box-gr {
              flex-direction: row;
            }
          }
        }
        &.product-remove {
          @include max(930px) {
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
            padding: 0;
            transform: translateY(50%);
          }
        }
        .b-tag {
          --bg: rgba(86, 163, 247, 0.1);
          --cl: #56a3f7;
          --fw: 700;
          @include min(769px) {
            margin: 0 auto;
          }
        }
        .box-gr {
          display: flex;
          gap: 1.2rem;
          @include max(930px) {
            flex-direction: column;
            align-items: center;
            text-align: right;
          }
        }

        .box-ctn {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          .t-sp {
            @include fz-14;
            color: var(--cl-sp);
            @include lc(2);
            font-weight: 500;
          }
          .t-text {
            font-size: 1.4rem;
          }
        }
        .t-igr {
          @include mid-flex;
        }
        .t-remove {
          display: inline-block;
          padding: 0.2rem 0.8rem;
          font-size: 1.4rem;
          background: var(--color-pri);
          color: #fff;
          transition: 0.3s ease-in-out;
          border-radius: 0.4rem;
          @include hover {
            background: #d92d20;
          }
        }
      }
    }
  }
}
.dkf-row {
  > .col {
    @include max(768px) {
      width: 100%;
    }
  }
}
.dkf {
  &-wrap {
    padding: 5.6rem 8rem;
    background: var(--bg-form);
    border-radius: 1.2rem;
    @include max(1200px) {
      padding: 2.4rem 1.2rem;
    }
  }
  &-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 1.2rem;
    @include max(768px) {
      text-align: center;
      margin-bottom: 3.2rem;
    }
    .t-des {
      color: var(--color-text);
      @include fz-20;
    }
  }
  &-form {
    .form-list {
      --bg-ip: #fff;
      --br-ip: 0.8rem;
    }
    .form-ip {
      input {
        &::placeholder {
          font-weight: 700;
          color: var(--color-text) !important;
        }
      }
    }
    .b-select {
      .select2-container--default .select2-selection--single {
        border-radius: 0.8rem !important;
        background: #fff;
      }
    }
  }
}
.se-box.active {
  .inner-fixed {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: #fff;
    position: fixed;
    top: calc(var(--size-hd) + 0rem);
    z-index: 10;
    padding: 1.2rem;
    width: 120rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.8rem;
  }
  .d-flex {
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .container {
    height: auto;
    padding: 0;
  }
}

.sec-rsult {
  padding: 10rem 0;
  overflow: hidden;
  position: relative;
  @include max(1200px) {
    padding: 6rem 0;
  }
  @include max(768px) {
    padding-bottom: 2.4rem;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(255, 251, 208, 0) 75.68%,
      #fffbd0 100%
    );
  }
}
.rsult-block {
  padding-top: 10%;
  @include max(1024px) {
    padding-top: 4%;
  }
}
.rsult-panel {
  min-height: 40rem;
}
.rsult-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;

  img {
    display: block;
    width: 100%;
  }
}
.rsult-it {
  padding: 2.4rem;
  background: var(--bg-rsult-it);
  color: var(--color-text);
  border-radius: 1.2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  @include max(768px) {
    padding: 1.6rem;
    max-width: 65%;
  }
  &.active {
    .b-head {
      .icon {
        transform: rotate(180deg);
      }
    }
  }
  .b-head {
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
    .t-text {
      @include fz-24;
      font-weight: 700;
      @include max(500px) {
        font-size: 1.6rem;
      }
    }
    .icon {
      width: 2.4rem;
      height: 2.4rem;
      @include mid-flex;
      transition: 0.3s ease-in-out;
    }
  }
  .b-body {
    display: none;
  }
}
.rsult-row {
  justify-content: space-between;
  > .col {
    width: calc(100% / 2.9);
    @include max(768px) {
      width: 100%;
    }
  }
}
.rsult-md {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28%;
  top: 40%;
  z-index: -1;
  @include max(768px) {
    top: unset;
    right: 0%;
    left: unset;
    bottom: 0;
    transform: translate(12%, 0);
    width: 40%;
  }
  @include max(500px) {
    width: 50%;
    transform: translate(18%, 0);
  }
  img {
    display: block;
    width: 100%;
  }
}
.rsult-panel {
  @include max(768px) {
    padding-bottom: 15%;
  }
}
.sec-int {
  overflow: hidden;
}
.int-it {
  position: relative;
  height: 100%;
  .b-inner {
    height: 100%;
    padding: 1.6rem;
    border-radius: 1.2rem;
    background: var(--bg-int-it);
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  .b-img {
    aspect-ratio: 562 / 320;
    border-radius: 0.4rem;
    overflow: hidden;
    @include max(500px) {
      aspect-ratio: 1/1;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .b-ctn {
    flex: 1;
    color: var(--color-text);
    .t-head {
      display: flex;
      justify-content: space-between;
      gap: 1.2rem;
      cursor: pointer;

      .icon {
        @include mid-flex;
        width: 3.2rem;
        height: 3.2rem;
        flex-shrink: 0;
        transition: 0.3s ease-in-out;
        &.active {
          transform: rotate(180deg);
        }
      }
    }
    .t-text {
      @include fz-24;
      font-weight: 700;
    }
    .t-des {
      @include fz-16;
      display: none;
    }
  }
}
.int-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  .b-btn {
    padding-top: 1.2rem;
    margin-top: auto;
    @include min(501px) {
      display: none;
    }
  }
}
.int-note {
  margin-top: 6rem;
  padding: 3.2rem;
  padding-top: 0;
  background: #fde680;
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--color-text);
  border-radius: 1.2rem;
  text-align: center;
  @include max(1200px) {
    font-size: 2rem;
  }
  .icon {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 100rem;
    overflow: hidden;
    transform: translateY(-50%);
    display: block;
    margin-left: auto;
  }
}
.int-block {
  .btn-pc {
    @include max(500px) {
      display: none;
    }
  }
}
.int-slider {
  .swiper,
  .swiper-container {
    overflow: visible;
  }
  .swiper-wrapper {
    @include max(500px) {
      flex-wrap: wrap;
      transform: unset !important;
      gap: 2.4rem;
    }
  }
  .swiper-slide {
    @include max(768px) {
      width: 75%;
    }
    @include max(500px) {
      width: 100%;
    }
  }
}
.sys-se {
  .b-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .b-select {
    .select2-container--default .select2-selection--single {
      border-radius: 0.8rem !important;
    }
  }
}
.sys-panel {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  .t-head {
    @include max(768px) {
      text-align: center;
    }
  }
  @include max(768px) {
    text-align: center;
  }
}
.sys-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-height: 40rem;
  overflow-y: auto;
  padding-right: 1.5rem;
}
.sys-it {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  &:not(:last-child) {
    padding-bottom: 2.4rem;
    border-bottom: var(--cl-border);
  }
  .b-head {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .b-bot {
    display: flex;
    gap: 1.2rem;
    align-items: center;
  }
  .iwt.t-map {
    --py: 0;
    --bg: transparent;
    --cl: var(--color-text);
    --fw: 700;
    --iz: 2rem;
  }
  .iwt.t-book {
    --bg: var(--color-sec);
    --cl: #fff;
    --fw: 700;
    --iz: 2rem;
    padding: 0.6rem 1.2rem;
    border-radius: 0.4rem;
    background: var(--bg);
    transition: 0.3s ease-in-out;
    @include hover {
      background: var(--color-pri);
    }
  }
}

.sys-phone {
  .iwt.t-link {
    --iz: 3.4rem;
    @include max(768px) {
      justify-content: center;
    }
    .txt {
      font-size: 4.8rem;
      @include font-second;
      color: var(--color-pri);
      line-height: 1;
      @include max(768px) {
        font-size: 3.2rem;
      }
    }
    .icon {
      border-radius: 100rem;
      background: var(--color-pri);
      img {
        width: 2rem;
      }
    }
  }
}
.sys-map {
  height: 100%;
  .inner-frame {
    height: 100%;
    @include max(768px) {
      height: 38rem;
    }
    iframe {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.sys-row {
  @include max(768px) {
    flex-direction: column-reverse;
  }
  > .col {
    @include max(768px) {
      width: 100%;
    }
  }
}
.ssm {
  width: calc((9 / 12) * 100%);
  margin-left: auto;
  position: relative;
  @include max(500px) {
    height: 60rem;
    overflow: hidden;
    width: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    @include full;
    background: linear-gradient(90deg, #ffffff 0%, rgba(250, 250, 250, 0) 100%);
    @include max(500px) {
      bottom: unset;
      height: 25%;
      background: linear-gradient(
        180deg,
        #ffffff 0%,
        rgba(250, 250, 250, 0) 100%
      );
    }
  }
  &::before {
    @include max(500px) {
      content: "";
      position: absolute;
      background: linear-gradient(
        0deg,
        #ffffff 0%,
        rgba(250, 250, 250, 0) 100%
      );
      bottom: 0;
      left: 0;
      height: 25%;
      z-index: 1;
      width: 100%;
    }
  }
}
.ssm-pos {
  position: relative;
  height: 100%;
  .head {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 42rem;
    @include max(500px) {
      position: static;
      transform: unset;
      text-align: center;
      margin-bottom: 2.4rem;
    }
  }
}
.ssm-wrap {
  display: flex;
  margin: 0 -1.2rem;
  @include max(1200px) {
    margin: 0 -0.4rem;
  }
}
.ssm-panel {
  width: calc(100% / 4);
  padding: 0 1.2rem;
  @include max(1200px) {
    padding: 0 0.4rem;
  }
  @include max(500px) {
    width: 50%;
  }
}
.ssm-slider {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  -webkit-animation-duration: var(--speedGrid);
  animation-duration: var(--speedGrid);
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scrollUp;
  animation-name: scrollUp;
  @include max(1200px) {
    gap: 0.8rem;
  }
}
.sec-ssm {
  overflow: hidden;
  height: 60rem;
  @include max(1200px) {
    height: 30rem;
  }
  @include max(500px) {
    height: auto;
  }
}
.ssm-it {
  .inner {
    aspect-ratio: 224/286;
    border-radius: 0.8rem;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.sys-panel {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  height: 100%;
}
.ssm-panel {
  &:nth-child(even) {
    .ssm-slider {
      animation-direction: reverse;
    }
  }
  @include max(500px) {
    display: none;
    &:nth-child(1),
    &:nth-child(2) {
      display: block;
    }
  }
}
@keyframes scrollUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.taf-table {
  @include max(500px) {
    display: none;
  }
}
.taf-mb {
  padding: 0 1.6rem;
  background: var(--bg-table-mb);
  border-radius: 1.2rem;
  @include min(501px) {
    display: none;
  }
  &-head {
    display: flex;
    color: var(--color-text);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    .t-head {
      width: calc(100% / 3);
      padding: 1.6rem 0.4rem;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
  &-it {
    display: flex;
    flex-wrap: wrap;
    padding: 1.6rem 0;
    align-items: center;
    &:not(:last-child) {
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    }
    .t-col {
      width: calc(100% / 3);
      text-align: center;
      font-size: 1.4rem;
      .b-tag {
        --fz: 1.4rem;
      }
      &:last-child {
        width: 100%;
      }
      .b-tag {
        margin: 0 auto;
      }
      .icon-arrow {
        width: 2.2rem;
        height: 2.2rem;
        @include mid-flex;
        transition: 0.3s ease-in-out;
        &.active {
          transform: rotate(180deg);
        }
      }
    }
    .b-group {
      padding: 1.6rem;
      background: var(--bg-table-gr);
      border-radius: 0.8rem;
      display: flex;
      text-align: left;
      gap: 0.4rem;
      .col-mid {
        flex: 1;
      }
      .iwt {
        align-items: unset;
      }
    }
    .toggle-content {
      display: none;
      margin-top: 1.6rem;
    }
  }
}
