@use "../core/mixin" as *;
@use "../core/font" as *;

.form-list {
  --rg: 1.6rem;
  --cg: 1.6rem;

  --ip-h: 4.8rem;
  --ta-h: 10rem;

  --ta-pd: 1.2rem;
  --fz-ip: 1.6rem;

  --fz-label: 1.6rem;
  --fw-label: 500;
  --label-mb: 0.8rem;

  --cl-border: transparent;
  --cl-focus: var(--cl-text);
  --bg-ip: #e8f3fa;
  --color-placeholder: rgba(11, 28, 53, 0.4);
  --br-ip: 100rem;
  --br-ta: 0.4rem;
  @include max(1200px) {
    --cg: 1.2rem;
  }
  ~ .b-submit {
    margin-top: 2.4rem;
  }
  .form-ip {
    position: relative;
    .text {
      color: var(--color-label);
      display: inline-block;
      margin-bottom: var(--label-mb);
      font-size: var(--fz-label);
      font-weight: var(--fw-label);
    }

    .ip-pos {
      position: relative;
      .icon {
        position: absolute;
        width: 2.4rem;
        height: 2.4rem;
        @include mid-flex;
        top: 50%;
        transform: translateY(-50%);
        color: var(--color-text);
        right: 1.6rem;
        cursor: pointer;
      }
      input {
        padding-right: 4rem;
      }
    }
    input {
      height: var(--ip-h);
      width: 100%;
      border: 0.1rem solid var(--cl-border);
      border-radius: var(--br-ip);
      outline: unset;
      color: var(--color-text);
      transition: 0.3s ease-in-out;
      padding: 0 1.6rem;
      font-size: var(--fz-ip);
      background: var(--bg-ip);
      &::placeholder {
        color: var(--color-placeholder);
      }
      &:focus {
        border-color: var(--cl-focus);
      }
    }
    textarea {
      min-height: var(--ta-h);
      width: 100%;
      background: var(--bg-ip);
      border: 0.1rem solid var(--cl-border);
      border-radius: var(--br-ip);
      padding: var(--ta-pd);
      font-size: var(--fz-ip);
      outline: unset;
      color: var(--color-text);
      transition: 0.3s ease-in-out;
      resize: unset;
      &::placeholder {
        color: var(--color-placeholder);
      }
      &:focus {
        border-color: var(--cl-focus);
      }
    }
  }
}

.ctm-iframe {
  .inner {
    @include imgPd(640, 1440);
    iframe {
      @include imgCover;
    }
  }
}
