footer.ft 
   .container 
      .ft-wrap 
         .ft-head 
            .ft-logo 
               a(href="").custom-logo-link
                  +img("logo.svg")
               span.line
               span.txt 
                  | YOLA ENGLISH CENTER
                  br
                  | CÔNG TY CỔ PHẦN GIÁO DỤC YOLA
            .ft-sc.d-flex.a-center
               span.txt.fw-7.c-black Follow us: 
               .mxh-social 
                  a(href="").i-link
                     +img("ic-fb.svg")
                  a(href="").i-link
                     +img("ic-yt.svg")
                  a(href="").i-link
                     +img("ic-tik.svg")
         .ft-body
            .ft-row.row 
               .col.col-3
                  .ft-group
                     .ft-box 
                        .t-head 
                           span.txt TRỤ SỞ CHÍNH 
                        .t-body
                           a(href="").text Tầng 10, Tòa nhà Miss Áo Dài, Số 21 Nguyễn Trung Ngạn, P. Bến Nghé, Q. 1, TP. Hồ Chí Minh
                     .ft-box 
                        .t-head 
                           span.txt HỆ THỐNG TRUNG TÂM 
                           span.icon 
                              +img("ic-arrow.svg")
                     .ft-box 
                        .t-head 
                           span.txt HỖ TRỢ KHÁCH HÀNG 
                        .d-flex.d-col 
                           a(href="").t-link 
                              | Hotline: 1900 558888
                           a(href="").t-link 
                              | Email: cskh@yola.vn
                     .ft-box 
                        .t-body 
                           p.text Giấy chứng nhận doanh nghiệp số: 0309139430
                           p.text Ngày cấp giấy phép: 24/07/2009 (Thay đổi lần thứ 20, ngày 24/05/2021)
                           p.text Nơi cấp: SKHDT TP.HCM
               .col.col-3
                  .ft-gr
                     .ft-box 
                        .t-head 
                           span.txt TIẾNG ANH CHO BÉ
                        .ft-nav 
                           ul.menu 
                              li 
                                 a(href="") Tiếng Anh mẫu giáo
                              li 
                                 a(href="") Tiếng Anh cấp 1
               .col.col-3
                  .ft-gr
                     .ft-box 
                        .t-head 
                           span.txt TIẾNG ANH THIẾU NIÊN
                        .ft-nav 
                           ul.menu 
                              li 
                                 a(href="") KET
                              li 
                                 a(href="") PET
                     .ft-box 
                        .t-head 
                           span.txt IELTS , SAT
                        .ft-nav 
                           ul.menu 
                              li 
                                 a(href="") Tiếng Anh tại lớp
                              li 
                                 a(href="") Tiếng Anh online
                              li 
                                 a(href="") Digital SAT
               .col.col-3
                  .ft-box 
                     .t-head 
                        span.txt TÌM HIỂU THÊM
                     .ft-nav 
                        ul.menu 
                           li 
                              a(href="") Thế mạnh của Yola
                           li 
                              a(href="") Về Yola
                           li 
                              a(href="") Bí quyết học tiếng Anh
                           li 
                              a(href="") Online free test
               .col.col-3
                  .ft-bct 
                     +img("bct.png")