header.hd(class=hdClass)
   .container 
      .hd-wrap 
         .hd-logo 
            a(href="").custom-logo-link
               +img("logo.svg")
         .hd-menu
            .hd-nav 
               .menu-nav
                  ul.menu-list 
                     li.menu-item.dropdown
                        a(href="").menu-link Tiếng Anh cho Bé
                        ul.menu-list
                           li.menu-item.dropdown
                              a(href="").menu-link Tiếng Anh Mẫu giáo
                              ul.menu-list
                                 li.menu-item
                                    a(href="").menu-link TA 3T
                                 li.menu-item
                                    a(href="").menu-link TA 4T
                                 li.menu-item
                                    a(href="").menu-link TA 5T
                           li.menu-item.dropdown
                              a(href="").menu-link Tiếng Anh Cấp 1
                              ul.menu-list
                                 li.menu-item
                                    a(href="").menu-link Pre Starters
                                 li.menu-item
                                    a(href="").menu-link Starters
                                 li.menu-item
                                    a(href="").menu-link Movers
                                 li.menu-item
                                    a(href="").menu-link Flyers
                     li.menu-item.dropdown
                        a(href="").menu-link Tiếng Anh Thiếu Niên
                        ul.menu-list
                           li.menu-item
                              a(href="").menu-link KET 
                           li.menu-item
                              a(href="").menu-link PET
                     li.menu-item.dropdown
                        a(href="").menu-link IELTS, SAT
                        ul.menu-list
                           li.menu-item.dropdown
                              a(href="").menu-link IELTS tại lớp
                              ul.menu-list
                                 li.menu-item
                                    a(href="").menu-link Pre IELTS Foundation
                                 li.menu-item
                                    a(href="").menu-link IELTS 5.0
                                 li.menu-item
                                    a(href="").menu-link IELTS 5.5
                                 li.menu-item
                                    a(href="").menu-link IELTS 6.0
                                 li.menu-item
                                    a(href="").menu-link IELTS 6.5
                                 li.menu-item
                                    a(href="").menu-link IELTS 7.0+
                                 li.menu-item
                                    a(href="").menu-link IELTS Writing Cấp tốc
                                 li.menu-item
                                    a(href="").menu-link IELTS Speaking Cấp tốc
                           li.menu-item.dropdown
                              a(href="").menu-link IELTS Online
                              ul.menu-list
                                 li.menu-item
                                    a(href="").menu-link Pre IELTS Foundation
                                 li.menu-item
                                    a(href="").menu-link IELTS 5.0-6.5
                                 li.menu-item
                                    a(href="").menu-link IELTS 6.5-7.5
                                 li.menu-item
                                    a(href="").menu-link IELTS Cấp tốc
                           li.menu-item.dropdown
                              a(href="").menu-link Digital SAT
                              ul.menu-list
                                 li.menu-item
                                    a(href="").menu-link SAT Cơ bản
                                 li.menu-item
                                    a(href="").menu-link SAT Nâng cao
                                 li.menu-item
                                    a(href="").menu-link SAT 1-1
                     li.menu-item.dropdown
                        a(href="").menu-link Về Yola
                        ul.menu-list
                           li.menu-item
                              a(href="").menu-link Giới thiệu
                           li.menu-item
                              a(href="").menu-link Thế mạnh
                           li.menu-item
                              a(href="").menu-link Hệ thống trung tâm
                           li.menu-item
                              a(href="").menu-link Tuyển dụng
                           li.menu-item
                              a(href="").menu-link Tin tức (tin tức, sự kiện)
                     li.menu-item
                        a(href="").menu-link Du học
                     li.menu-item
                        a(href="").menu-link Test trình độ
                     li.menu-item.dropdown
                        a(href="").menu-link Tips ôn thi
                        ul.menu-list
                           li.menu-item
                              a(href="").menu-link Giải đề thi tiếng Anh tuyển sinh lớp 10
                           li.menu-item
                              a(href="").menu-link Giải đề thi tiếng Anh Đại học
                           li.menu-item
                              a(href="").menu-link Giải đề Cambridge
                           li.menu-item
                              a(href="").menu-link Giải đề IELTS mới nhất 
                           li.menu-item
                              a(href="").menu-link Bài mẫu IELTS Writing & Speaking
                           li.menu-item
                              a(href="").menu-link IELTS Reading
                           li.menu-item
                              a(href="").menu-link IELTS Listening
                           li.menu-item
                              a(href="").menu-link IELTS Speaking
                           li.menu-item
                              a(href="").menu-link IELTS Writing
                           li.menu-item
                              a(href="").menu-link Kiến thức chung
         .hd-action 
            a(href="").btn
               span.icon 
                  +img("ic-phone.svg")
               span.txt TƯ VẤN NGAY
            .hd-burger#hamburger
               +img("hd-burger.svg")
   .mobile-overlay
   .mobile
      .mobile-con
         .mobile-wr
            .mobile-nav
               .menu-nav
                  ul.menu-list 
                     li.menu-item.dropdown
                        a(href="").menu-link Tiếng Anh cho Bé
                        ul.menu-list
                           li.menu-item.dropdown
                              a(href="").menu-link Tiếng Anh Mẫu giáo
                              ul.menu-list
                                 li.menu-item
                                    a(href="").menu-link TA 3T
                                 li.menu-item
                                    a(href="").menu-link TA 4T
                                 li.menu-item
                                    a(href="").menu-link TA 5T
                           li.menu-item.dropdown
                              a(href="").menu-link Tiếng Anh Cấp 1
                              ul.menu-list
                                 li.menu-item
                                    a(href="").menu-link Pre Starters
                                 li.menu-item
                                    a(href="").menu-link Starters
                                 li.menu-item
                                    a(href="").menu-link Movers
                                 li.menu-item
                                    a(href="").menu-link Flyers
                     li.menu-item.dropdown
                        a(href="").menu-link Tiếng Anh Thiếu Niên
                        ul.menu-list
                           li.menu-item
                              a(href="").menu-link KET 
                           li.menu-item
                              a(href="").menu-link PET
                     li.menu-item.dropdown
                        a(href="").menu-link IELTS, SAT
                        ul.menu-list
                           li.menu-item.dropdown
                              a(href="").menu-link IELTS tại lớp
                              ul.menu-list
                                 li.menu-item
                                    a(href="").menu-link Pre IELTS Foundation
                                 li.menu-item
                                    a(href="").menu-link IELTS 5.0
                                 li.menu-item
                                    a(href="").menu-link IELTS 5.5
                                 li.menu-item
                                    a(href="").menu-link IELTS 6.0
                                 li.menu-item
                                    a(href="").menu-link IELTS 6.5
                                 li.menu-item
                                    a(href="").menu-link IELTS 7.0+
                                 li.menu-item
                                    a(href="").menu-link IELTS Writing Cấp tốc
                                 li.menu-item
                                    a(href="").menu-link IELTS Speaking Cấp tốc
                           li.menu-item.dropdown
                              a(href="").menu-link IELTS Online
                              ul.menu-list
                                 li.menu-item
                                    a(href="").menu-link Pre IELTS Foundation
                                 li.menu-item
                                    a(href="").menu-link IELTS 5.0-6.5
                                 li.menu-item
                                    a(href="").menu-link IELTS 6.5-7.5
                                 li.menu-item
                                    a(href="").menu-link IELTS Cấp tốc
                           li.menu-item.dropdown
                              a(href="").menu-link Digital SAT
                              ul.menu-list
                                 li.menu-item
                                    a(href="").menu-link SAT Cơ bản
                                 li.menu-item
                                    a(href="").menu-link SAT Nâng cao
                                 li.menu-item
                                    a(href="").menu-link SAT 1-1
                     li.menu-item.dropdown
                        a(href="").menu-link Về Yola
                        ul.menu-list
                           li.menu-item
                              a(href="").menu-link Giới thiệu
                           li.menu-item
                              a(href="").menu-link Thế mạnh
                           li.menu-item
                              a(href="").menu-link Hệ thống trung tâm
                           li.menu-item
                              a(href="").menu-link Tuyển dụng
                           li.menu-item
                              a(href="").menu-link Tin tức (tin tức, sự kiện)
                     li.menu-item
                        a(href="").menu-link Du học
                     li.menu-item
                        a(href="").menu-link Test trình độ
                     li.menu-item.dropdown
                        a(href="").menu-link Tips ôn thi
                        ul.menu-list
                           li.menu-item
                              a(href="").menu-link Giải đề thi tiếng Anh tuyển sinh lớp 10
                           li.menu-item
                              a(href="").menu-link Giải đề thi tiếng Anh Đại học
                           li.menu-item
                              a(href="").menu-link Giải đề Cambridge
                           li.menu-item
                              a(href="").menu-link Giải đề IELTS mới nhất 
                           li.menu-item
                              a(href="").menu-link Bài mẫu IELTS Writing & Speaking
                           li.menu-item
                              a(href="").menu-link IELTS Reading
                           li.menu-item
                              a(href="").menu-link IELTS Listening
                           li.menu-item
                              a(href="").menu-link IELTS Speaking
                           li.menu-item
                              a(href="").menu-link IELTS Writing
                           li.menu-item
                              a(href="").menu-link Kiến thức chung
         .mobile-content 
            .mobile-footer
               .d-flex.j-center.gap40
                  a(href="").mb-link
                     span.txt.fw-6  Hotline: 028 6285 8080
                  a(href="").mb-link
                     span.txt.fw-6  Email: cskh@yola.com