
.progress-wrap.backToTop
  svg.progress-circle.svg-content(width='100%' height='100%' viewbox='-1 -1 102 102')
    path(d='M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98')
+popup("popup-teach","popup-teach-id")
   .popup-wrapper
      .popup-teach-card
         .box-top 
            .inner-top
               .inner-img 
                  +img("teach-1.png")
         .box-panel
            .t-head 
               span.txt Quản lý Chương trình
               .t-name NGUYỄN THẢO ANH
            .t-panel 
               .b-content 
                  p 
                     | Kinh nghiệm giảng dạy: 
                     span.fw-7 10 năm
                  p 
                     | Lớp phụ trách:  
                     span.fw-7 SAT 1-1
                  p 
                     | Thành tích: 
                     span.fw-7 Thạc sĩ University of Birmingham
                  p 
                     | Triết lý giáo dục: 
                  p 
                     | Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas assumenda, ad non quas vel soluta reiciendis dignissimos est, excepturi alias maxime iure reprehenderit! Provident ipsam fugit cumque pariatur modi eligendi.
script(src='./assets/library/jquery/jquery.js')
script(src='./assets/library/swiper/swiper-bundle.min.js')
script(src='./assets/library/aos/aos.js')
script(src='./assets/library/select2/select2.min.js')
script(src='./assets/library/jquery/jquery-migrate.js')
script(src='./assets/library/smoothscroll/SmoothScroll.min.js')
script(src='./assets/library/fancybox/fancybox.umd.js')
script(src='./assets/library/gsap/gsap.min.js')
script(src='./assets/library/gsap/ScrollTrigger.min.js')
script(src='./assets/library/splitting/splitting.min.js')
script(src='https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js')
//- script(src='./assets/library/splide/splide.js')
script(src='./assets/library/gallery/lightgallery-all.min.js')
//- script(src='./assets/library/datetime/moment.min.js')
//- script(src='./assets/library/datetime/daterangepicker.min.js')

script(src='./js/main.js' type='module')

