extends layout/layout

block vars
    -title = ''
    -bodyClass = 'page-class'

block container
   .bnh.bn-text
      .bnh-wrap 
         .bnh-slider 
            .b-sw 
               +Swiper()
                  .swiper-slide.col
                     .bnh-item.has-video
                        .b-img
                           .h-full
                              video(src="./assets/images/demo.mp4" autoplay muted loop playsinline)
                        .container 
                           .b-content(data-aos="fade-left")
                              .b-head
                                 span.t20.c-text CHƯƠNG TRÌNH TIẾNG ANH CHO BÉ 3-10 TUỔI
                                 .t-text
                                    | ƯƠM MẦM TIỀM NĂNG 
                                    br
                                    | NGÔN NGỮ
                              .b-des 
                                 .mona-content
                                    ul 
                                       li 
                                          | Xây nền tảng tiếng Anh vững chắc.
                                       li 
                                          | Phát triển kỹ năng  tư duy thế kỷ 21
                              .b-btn
                                 +Btn("Đăng ký học thử miễn phí")
                        a(href="https://youtu.be/oAwkmleUz6g?si=ePCLyGAiW2FKKjJe" data-fancybox).b-play 
                           +img("ic-play2.svg")
      +rse()
   +cn-box()
   section.sec-rsult
      .rsult-bg 
         +img("rsult-bg.png")
      .container 
         .rsult
            .rsult-wrap 
               .rsult-head.t-center.mb-40
                  +title("KẾT QUẢ","SAU KẾT QUẢ")
               .rsult-block.collapse-block
                  .rsult-panel.posi-rl
                     .rsult-md 
                        +img("rsult-md.png")
                     .rsult-row.row 
                        .col.col-4
                           .rsult-it.collapse-item
                              .b-head.collapse-head
                                 h3.t-text Năng lực Tiếng Anh 
                                 span.icon
                                    i.fa-light.fa-chevron-down
                              .b-body.collapse-body
                                 .mona-content 
                                    ul 
                                       li 
                                          | Giao tiếp tự tin với mẫu câu đơn giản
                                       li 
                                          | Nghe - hiểu và phản xạ tự nhiên
                        .col.col-4
                           .rsult-it.collapse-item
                              .b-head.collapse-head
                                 h3.t-text Tư duy & kỹ năng
                                 span.icon
                                    i.fa-light.fa-chevron-down
                              .b-body.collapse-body
                                 .mona-content 
                                    ul 
                                       li 
                                          | Khơi mở sáng tạo, biết đặt câu hỏi
                                       li   
                                          | Hình thành và phát triển kĩ năng cho trẻ
                        .col.col-4
                           .rsult-it.collapse-item
                              .b-head.collapse-head
                                 h3.t-text Thói quen học tập
                                 span.icon
                                    i.fa-light.fa-chevron-down
                              .b-body.collapse-body
                                 .mona-content 
                                    ul 
                                       li 
                                          | Biết tập trung, theo nề nếp
                                       li 
                                          | Yêu thích học và khám phá
                        .col.col-4
                           .rsult-it.collapse-item
                              .b-head.collapse-head
                                 h3.t-text Thói quen học tập
                                 span.icon
                                    i.fa-light.fa-chevron-down
                              .b-body.collapse-body
                                 .mona-content 
                                    ul 
                                       li 
                                          | Biết tập trung, theo nề nếp
                                       li 
                                          | Yêu thích học và khám phá
   section.sec-int.ss-pd 
      .container 
         .int 
            .int-wrap 
               .int-head.t-center.mb-40
                  +title("NỘI DUNG","CHƯƠNG TRÌNH QUỐC TẾ RÈN TƯ DUY & KỸ NĂNG")
               .int-block
                  .int-slider.slidePc
                     .b-sw.posi-rl
                        +SwiperControl("posi midle")
                        +Swiper()
                           .swiper-slide.col.col-6 
                              .int-it.arrowItem
                                 .int-inner
                                    .b-inner 
                                       .b-img
                                          +img("int-img1.jpg")
                                       .b-ctn 
                                          .t-head
                                             h3.t-text 
                                                | KHỞI TRÍ TÒ MÒ
                                             span.icon.arrowIcon
                                                i.fa-light.fa-chevron-down
                                          .t-des.arrowContent
                                             p 
                                                | Bắt đầu cùng trò chơi hỏi–đáp, bé luyện phản xạ nghe–nói với từ vựng và câu đơn giản
                                             p  Bé tự tin giới thiệu sở thích và vui học qua tương tác tự nhiên
                                    .b-btn
                                       +Btn("Kiểm tra trình độ miễn phí","","")
                           .swiper-slide.col.col-6 
                              .int-it.arrowItem
                                 .int-inner
                                    .b-inner 
                                       .b-img
                                          +img("int-img2.jpg")
                                       .b-ctn 
                                          .t-head
                                             h3.t-text 
                                                | HỌC NGÔN NGỮ QUA ĐA MÔN & DỰ ÁN
                                             span.icon.arrowIcon
                                                i.fa-light.fa-chevron-down
                                          .t-des.arrowContent
                                             P 
                                                | Bé vừa chơi vừa học qua dự án đa lĩnh vực:
                                             P  
                                                | Tiếng Anh Cambridge, Lãnh đạo, Công nghệ và Thiết kế.
                                             P 
                                                | Hoạt động muôn màu giúp bé phát triển ngôn ngữ, tư duy, công nghệ và sáng tạo.
                                    .b-btn
                                       +Btn("Kiểm tra trình độ miễn phí","","")
                           .swiper-slide.col.col-6 
                              .int-it.arrowItem
                                 .int-inner
                                    .b-inner 
                                       .b-img
                                          +img("int-img3.jpg")
                                       .b-ctn 
                                          .t-head
                                             h3.t-text 
                                                | CHIA SẺ & HOÀ NHẬP
                                             span.icon.arrowIcon
                                                i.fa-light.fa-chevron-down
                                          .t-des.arrowContent
                                             P
                                                | Bé chia sẻ ý tưởng, hợp tác với bạn và giữ lớp sạch sẽ. Hoạt động vui học này giúp bé nhanh hòa nhập, cùng bạn hợp tác cùng nhau vui chơi.
                                    .b-btn
                                       +Btn("Kiểm tra trình độ miễn phí","","")
                  .mt-24.btn-pc
                     +Btn("Kiểm tra trình độ miễn phí","","center")
               .int-note 
                  span.icon 
                     +img("ic-star.svg")
                  p
                     | Trong mỗi buổi học, giáo viên sẽ dùng sticker để khen thưởng nhằm tạo động lực và khuyến khích các em mạnh dạn hơn
   +table("LỊCH KHÓA HỌC","CHO BÉ 3 TUỔI")
   +form-dk("XÂY DỰNG LỊCH HỌC CHO BÉ")
   +card-sv()
   +faq()
   +form()