extends layout/layout

block vars
   -title = ''
   -bodyClass = 'page-news'

block container
   .bn-news
      .container 
         .bn-news-head 
            .txt TIN TỨC & SỰ KIỆN
            h1.title CẬP NHẬT TIN MỚI NHẤT TỪ YOLA
   section.sec-news
      .container 
         .news.border-bot.ss-pd
            .news-wrap 
               .news-head.mb-40
                  +title("","TIN TỨC")
               .news-block 
                  .news-slider.slideSw 
                     .b-sw 
                        +Swiper()
                           each i,index in Array(4)
                              .col.col-3.swiper-slide
                                 +news(index)
                  .mt-24
                     +Btn("XEM THÊM","","center trans")
   section.sec-news
      .container 
         .news.ss-pd 
            .news-wrap 
               .news-head.mb-40
                  +title("","SỰ KIỆN")
               .news-block 
                  .news-slider.slideSw 
                     .b-sw 
                        +Swiper()
                           each i,index in Array(4)
                              .col.col-3.swiper-slide
                                 +news(index)
                  .mt-24
                     +Btn("XEM THÊM","","center trans")
   +form()