extends layout/layout

block vars
    -title = ''
    -bodyClass = 'page-pre'

block container
   .bnh.bn-pre
      .bnh-wrap 
         .bnh-slider 
            .b-sw 
               +Swiper()
                  .swiper-slide.col
                     .bnh-item
                        .b-img
                           .h-full
                              +img("bn-pre.jpg")
                        .container 
                           .b-content(data-aos="fade-left")
                              .b-head
                                 span.t20.c-white CHƯƠNG TRÌNH IELTS, SAT TOÀN DIỆN
                                 .t-text 
                                    | TỪ MẤT GÓC ĐẾN NỀN TẢNG
                                    br
                                    | TƯ DUY TIẾNG ANH HỌC THUẬT
                              .b-btn
                                 +Btn("Đăng ký học thử miễn phí")
      +rse()
   +cn-box()
   .se-box
      .container 
         .b-gr.d-flex.a-center.stu-tags
            a(href="").b-tag.active PRE IELTS FOUNDATION 
            a(href="").b-tag  IELTS 5.0
            a(href="").b-tag  IELTS 5.5
            a(href="").b-tag  IELTS 6.0
            a(href="").b-tag  IELTS 7.0+
            a(href="").b-tag IELTS WRITING CẤP TỐC
            a(href="").b-tag IELTS SPEAKING CẤP TỐC
   section.sec-afc.ss-pd 
      .container 
         .afc
            .afc-wrap 
               .afc-head.t-center.mb-40
                  +title("KẾT QUẢ","SAU KHÓA HỌC")
               .afc-block 
                  .afc-list.row 
                     .col.col-6 
                        .afc-it.iwt 
                           span.icon 
                              +img("ic-check.svg")
                           .t-gr 
                              span.txt.t20.fw-7 HIỂU TƯ DUY NGÔN NGỮ
                              span.des thay vì học mẹo
                     .col.col-6 
                        .afc-it.iwt 
                           span.icon 
                              +img("ic-check.svg")
                           .t-gr 
                              span.txt.t20.fw-7 TƯ DUY PHẢN BIỆN
                              span.des tập suy luận bằng tiếng Anh
                     .col.col-6 
                        .afc-it.iwt 
                           span.icon 
                              +img("ic-check.svg")
                           .t-gr 
                              span.txt.t20.fw-7 LẤY LẠI NỀN NGỮ PHÁP
                              span.des vững 4 kỹ năng
                     .col.col-6 
                        .afc-it.iwt 
                           span.icon 
                              +img("ic-check.svg")
                           .t-gr 
                              span.txt.t20.fw-7 LÀM QUEN ĐỀ IELTS
                              span.des thực hành câu dễ của Listening & Reading
   section.sec-vle.ss-pd-b
      .container 
         .vle 
            .vle-wrap 
               .vle-head.mb-40.t-center
                  +title("CHỈ CÓ Ở YOLA","GIÁ TRỊ GIÁO DỤC & KIẾN THỨC VƯỢT NGOÀI ĐIỂM THI")
               .vle-block.collapse-block
                  .vle-list 
                     -
                        var arrs = [
                           {
                              txt:"Buổi Reading"
                           },
                           {
                              txt:"Buổi Writing"
                           },
                           {
                              txt:"Buổi Speaking"
                           },
                           {
                              txt:"Buổi Listening"
                           },
                        ]
                     each i,index in arrs
                        .vle-it.collapse-item
                           .b-head.collapse-head
                              h3.txt.t20.fw-7 #{i.txt}
                              span.icon 
                                 i.fa-light.fa-chevron-down
                           .b-body.collapse-body
                              .mona-content 
                                 ul 
                                    li 
                                       | Đoán ý chính 
                                    li 
                                       | Đoán nghĩa từ dựa trên ngữ cảnh
                                    li 
                                       | Đọc lướt để lấy ý chung
                              .b-ctn 
                                 .c-text.fw-7.mb-16 NỘI DUNG KHÓA HỌC
                                 .b-list.cl-small
                                    .b-item.cl-items
                                       .t-head.cl-heads
                                          span.t-txt.fw-7.c-text TITLE DEMO 
                                          span.icon 
                                             i.fa-light.fa-chevron-down
                                       .t-des.cl-bodies
                                          p 
                                             | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    .b-item 
                                       .t-head.cl-heads
                                          span.t-txt.fw-7.c-text TITLE DEMO 
                                          span.icon 
                                             i.fa-light.fa-chevron-down
                                       .t-des.cl-bodies
                                          p 
                                             | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                           .b-btn 
                              +Btn("Kiểm tra trình độ miễn phí","","center")
   section.sec-taf.ss-pd-b 
      .container 
         .taf 
            .taf-wrap 
               .taf-head.t-center.mb-40
                  +title("LỊCH KHÓA HỌC","KHÓA PRE IELTS FOUNDATION")
               .taf-block 
                  .taf-table 
                     table.table-custom
                        thead
                           tr 
                              th
                                 | CHI NHÁNH
                              th
                                 | KHAI GIẢNG
                              th
                                 | SỐ LƯỢNG HV
                              th
                                 | ĐỊA CHỈ
                              th 
                                 | BUỔI HỌC
                              th 
                                 | GIỜ HỌC
                        tbody 
                           each i,index in Array(7)
                              tr 
                                 td(data-text="CHI NHÁNH:") Đỗ Xuân Hợp
                                 td(data-text="KHAI GIẢNG:") 
                                    | 26/08/2025
                                 td(data-text="Số LƯỢNG HV:") 
                                    span.b-tag.b-live Còn chỗ
                                 td(data-text="ĐỊA CHỈ:")  
                                    span 299B Đỗ Xuân Hợp, Phường Phước Long B, TP. Thủ Đức, TP. Hồ Chí Minh
                                 td(data-text="BUỔI HỌC:") 
                                    span Thứ 3/5/7
                                 td(data-text="GIỜ HỌC:") 
                                    span 19:30 - 21:30
   +faq()
   section.sec-dkf.ss-pd
      .container 
         .dkf 
            .dkf-wrap 
               .dkf-row.row 
                  .col.col-6
                     .dkf-panel 
                        .t-head 
                           +title("","XÂY DỰNG LỊCH HỌC CHO BÉ")
                        .t-des 
                           p 
                              | Bạn không tìm thấy lịch phù hợp với bạn ?
                           p 
                              | Hãy chọn ngay cho chính bạn 1 lịch phù hợp
                  .col.col-6
                     .dkf-form 
                        form(action="")
                           .form-list.row 
                              .col.form-ip 
                                 input(type="text" placeholder="Tên của bạn")
                              .col.form-ip 
                                 input(type="text" placeholder="Số điện thoại")
                              .col.form-ip 
                                 .b-select 
                                    select(name="" data-placeholder="Chọn trình độ").re-select-main
                                       option(value="")
                                       option(value="") Demo
                                       option(value="") Demo
                              .col.form-ip 
                                 .b-select 
                                    select(name="" data-placeholder="Chọn địa điểm").re-select-main
                                       option(value="")
                                       option(value="") Demo
                                       option(value="") Demo
                              .col.form-ip 
                                 input(type="text" placeholder="Nhập ca học (VD: 08:00 - 07:00)")
                              .col.form-ip 
                                 input(type="text" placeholder="Nhập buổi học (VD: thứ 2-4-6")
                           .b-submit 
                              +Btn("Gửi yêu cầu","button","full")
   +card-sv()
   +form()